

svg {
   height: 100px;
}

td {
    width: 15%;
}

.state_name {
	width: 1%;
	text-align: right;
}

.key .key-item b { 
 width: 15px;
 height: 15px;
 margin-right: 6px;
 float: left;
}

.key-0 b, .yes, svg .yes path, .yes, svg path.yes {
 background-color: #e6550d;
 fill: #e6550d;
}

svg .challenged path, .challenged, svg path.challenged, .key-1 b {
 background-color: #fdae6b;
 fill: #fdae6b;
}

.key-2 b, .no, svg path.no, svg .no path {
 background-color: #f9f9f9;
 fill: #ddd;
}

.challenged, .yes, .no {
  text-align: center;
  border-right: 1px solid #ddd;
}

